include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header.header
                .header__left
                    .header__title
                        | Международный
                        | офтальмологический
                        | центр

                    .header__logo
                        a(href='/').logo
                            +image('images/icons/logo.png','logo__img')

                    .header__contacts
                        a(href='/').header__addr
                            | Красноярск,
                            | ул. Ленина 74, Г
                        a(href='tel:+7(391)200-80-30').header__tel +7(391)200-80-30

                .header__center
                    .header__nav
                        .nav
                            each i in nav
                                a(href='/').nav__item= i
                .header__right
                    .header__block
                        .header__sub Ведущий офтальмологический центр
                        .header__years 21 год мы с Вами!
                        .header__counter
                            .header__count
                                .count
                                    .count__wrap
                                        .count__item 0
                                        .count__item 0
                                        .count__item 3
                                        .count__item 4
                                        .count__item 9
                                        .count__item 5
                            .header__mans Принято пациентов
                        a(href='#').call.btn.header__call записаться на прием
                    .header__lang
                        .langs
                            a(href='/').lang.active Ru
                            a(href='/').lang En
                            a(href='/').lang De







                .header__mobile
                    a(href='#').mmenu-open.
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19"><g><g><path d="M.786 3.375c-.434 0-.786-.336-.786-.75V.75C0 .336.352 0 .786 0h20.428c.434 0 .786.336.786.75v1.875c0 .414-.352.75-.786.75zm0 7.5c-.434 0-.786-.336-.786-.75V8.25c0-.414.352-.75.786-.75h20.428c.434 0 .786.336.786.75v1.875c0 .414-.352.75-.786.75zm0 7.5c-.434 0-.786-.336-.786-.75V15.75c0-.414.352-.75.786-.75h20.428c.434 0 .786.336.786.75v1.875c0 .414-.352.75-.786.75z"/></g></g></svg>

            //- pages
            .page
                block content

            //- footer
            footer.footer
                .container
                    .footer__top
                        .row
                            .footer__left
                                a(href='/').footer__logo
                                    +image('images/icons/logo.png','footer__logo-img')
                                .footer__name
                                    |МЕЖДУНАРОДНЫЙ ЦЕНТР
                                    br
                                    |КОРРЕКЦИИ ЗРЕНИЯ
                                a(href='/').footer__addr
                                    +icon('pin','footer__addr-svg')
                                    span.footer__addr-txt
                                        |660049, г. Красноярск,
                                        br
                                        |ул. Ленина 74г, стр. 1
                                a(href='/').footer__map СХЕМА ПРОЕЗДА
                                .footer__license
                                    | Лицензия № ЛО - 43 -494988339
                                    br
                                    | Выдана: от 01.01.2010 г

                            .footer__right
                                .footer__menu.fmenu
                                    .row
                                        each col in fmenu
                                            .fmenu__col
                                                .fmenu__title= col.title
                                                .fmenu__list
                                                    each i in col.list
                                                        a(href='/').fmenu__item= i

                                        .fmenu__col
                                            .fmenu__title КОНТАКТЫ
                                            .fmenu__contacts
                                                a(href='tel:+73912008030').fmenu__contact
                                                    +icon('tel','fmenu__contact-svg fmenu__contact-svg_tel')
                                                    span.fmenu__contact-txt +7 391 200-80-30
                                                a(href='mailto:iris@krasiris.ru').fmenu__contact
                                                    +icon('mail','fmenu__contact-svg fmenu__contact-svg_mail')
                                                    span.fmenu__contact-txt iris@krasiris.ru
                                                .fmenu__contact
                                                    +icon('clock','fmenu__contact-svg fmenu__contact-svg_clock')
                                                    span.fmenu__contact-txt
                                                        |График работы:
                                                        br
                                                        |ПН-СБ с 9 до 21 часа


                    .footer__bottom
                        .footer__block
                            .footer__socs.fsocs
                                a(href='/').fsocs__item.
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12">
                                        <g>
                                            <g>
                                                <path d="M19.192.763c.135-.44 0-.763-.65-.763h-2.147c-.547 0-.798.278-.933.587 0 0-1.094 2.57-2.64 4.236-.5.482-.729.637-1.002.637-.135 0-.343-.155-.343-.594V.763c0-.527-.153-.763-.605-.763H7.496c-.343 0-.547.246-.547.475 0 .499.773.615.853 2.021v3.052c0 .668-.124.79-.397.79-.73 0-2.501-2.58-3.551-5.533C3.642.232 3.434 0 2.884 0H.736C.124 0 0 .278 0 .587 0 1.136.73 3.86 3.394 7.46c1.776 2.458 4.277 3.79 6.552 3.79 1.367 0 1.535-.295 1.535-.805 0-2.349-.124-2.57.561-2.57.317 0 .864.155 2.14 1.34 1.459 1.406 1.7 2.035 2.516 2.035h2.147c.613 0 .923-.295.744-.879-.408-1.227-3.168-3.751-3.292-3.92-.317-.394-.226-.57 0-.92.004-.004 2.625-3.562 2.895-4.768z"/>
                                            </g>
                                        </g>
                                    </svg>
                                a(href='/').fsocs__item.
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                                        <g>
                                            <g>
                                                <path d="M8.286 9l.424-2.896H6.057V4.225c0-.792.37-1.564 1.559-1.564h1.206V.196S7.727 0 6.68 0C4.496 0 3.068 1.387 3.068 3.897v2.207H.64V9h2.428v7h2.99V9z"/>
                                            </g>
                                        </g>
                                    </svg>
                                a(href='/').fsocs__item.
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" viewBox="0 0 19 12">
                                        <g>
                                            <g>
                                                <path d="M18.835 6.012s0 2.795-.377 4.135c-.207.739-.817 1.296-1.592 1.494C15.46 12 9.827 12 9.827 12s-5.633 0-7.038-.359c-.775-.198-1.385-.755-1.593-1.494C.82 8.807.82 6.012.82 6.012s0-2.795.376-4.134c.208-.74.818-1.322 1.593-1.52C4.194 0 9.827 0 9.827 0s5.634 0 7.039.359c.775.197 1.385.78 1.592 1.519.377 1.34.377 4.134.377 4.134zM7.985 8.55l4.708-2.538-4.708-2.537z"/>
                                            </g>
                                        </g>
                                    </svg>
                                a(href='/').fsocs__item.
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16">
                                        <g>
                                            <g>
                                                <path d="M12.943 8a4.095 4.095 0 0 1-4.101 4.102A4.095 4.095 0 0 1 4.74 8a4.095 4.095 0 0 1 4.102-4.102A4.095 4.095 0 0 1 12.943 8zm-1.435 0a2.67 2.67 0 0 0-2.666-2.667A2.67 2.67 0 0 0 6.175 8c0 1.47 1.2 2.667 2.667 2.667A2.672 2.672 0 0 0 11.508 8zm2.56-4.27a.954.954 0 0 1-.957.957.957.957 0 1 1 .957-.957zm2.716 7.569c-.064 1.282-.357 2.417-1.292 3.352-.936.94-2.07 1.232-3.352 1.293-1.32.075-5.28.075-6.6 0-1.281-.065-2.413-.357-3.352-1.293C1.25 13.716.957 12.581.896 11.3c-.075-1.321-.075-5.28 0-6.601.064-1.282.354-2.418 1.292-3.353C3.128.41 4.262.117 5.54.056c1.32-.075 5.28-.075 6.6 0 1.281.064 2.417.357 3.352 1.293.938.935 1.231 2.07 1.292 3.352.075 1.321.075 5.277 0 6.598zM15.399 8c0-1.164.096-3.663-.321-4.716a2.7 2.7 0 0 0-1.521-1.521c-1.05-.414-3.552-.322-4.715-.322-1.164 0-3.662-.096-4.715.322a2.7 2.7 0 0 0-1.521 1.52C2.192 4.334 2.285 6.837 2.285 8c0 1.164-.097 3.663.321 4.716a2.7 2.7 0 0 0 1.52 1.521c1.05.414 3.552.321 4.716.321 1.163 0 3.662.097 4.715-.32a2.7 2.7 0 0 0 1.52-1.522c.418-1.05.322-3.552.322-4.716z"/>
                                            </g>
                                        </g>
                                    </svg>


                            .footer__cards
                                +image('images/icons/cards.png','footer__cards-img')

                        .footer__info ИНФОРМАЦИЯ ДЛЯ ПАЦИЕНТОВ
                        .footer__copy COPYRIGHT 1999 - 2020

        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        .fxmenu
            a(href='tel:+7(391)200-80-30').fxitem
                span.fxitem__left.
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.3722 17.6614L16.5597 15.4455C16.3542 15.3513 16.1257 15.3315 15.9087 15.389C15.6917 15.4464 15.4979 15.578 15.3566 15.764L13.2254 18.5616C9.88056 16.8673 7.18876 13.9752 5.61172 10.3816L8.21563 8.09181C8.38909 7.94023 8.51186 7.73207 8.56535 7.49884C8.61885 7.2656 8.60016 7.01998 8.51212 6.79918L6.44961 1.62867C6.35298 1.39064 6.18208 1.19631 5.96637 1.07916C5.75066 0.962019 5.50366 0.929415 5.26797 0.986971L0.799219 2.09494C0.571987 2.15131 0.36925 2.28878 0.224097 2.48489C0.0789445 2.681 -5.2345e-05 2.92418 2.60228e-08 3.17474C2.60228e-08 15.0161 8.93321 24.5954 19.9375 24.5954C20.1708 24.5956 20.3972 24.5108 20.5799 24.3548C20.7625 24.1988 20.8905 23.981 20.943 23.7368L21.9742 18.9356C22.0275 18.6811 21.9965 18.4147 21.8866 18.1821C21.7767 17.9496 21.5948 17.7654 21.3722 17.6614Z" fill="white"/>
                    </svg>
                span.fxitem__right Позвонить
            a(href='#').fxitem
                span.fxitem__left.
                    <svg width="17" height="27" viewBox="0 0 17 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.52275 0.323486C4.66682 0.323486 2.16933 2.02195 0.208536 5.05102C-0.147158 5.6005 -0.0374983 6.35388 0.458677 6.75836L2.5426 8.45714C3.04371 8.86561 3.75669 8.7701 4.149 8.24171C5.35908 6.6119 6.2567 5.67352 8.14686 5.67352C9.63302 5.67352 11.4713 6.7018 11.4713 8.25116C11.4713 9.42242 10.5719 10.0239 9.10448 10.9084C7.39325 11.9399 5.12875 13.2235 5.12875 16.4347V16.943C5.12875 17.6314 5.64782 18.1895 6.28815 18.1895H9.7891C10.4294 18.1895 10.9485 17.6314 10.9485 16.943V16.6432C10.9485 14.4172 17 14.3245 17 8.30086C17 3.76456 12.6232 0.323486 8.52275 0.323486ZM8.03865 19.7195C6.19346 19.7195 4.69228 21.3334 4.69228 23.3171C4.69228 25.3008 6.19346 26.9147 8.03865 26.9147C9.88384 26.9147 11.385 25.3008 11.385 23.3171C11.385 21.3333 9.88384 19.7195 8.03865 19.7195Z" fill="white"/>
                    </svg>
                span.fxitem__right Задать вопрос
            a(href='#').fxitem
                span.fxitem__left.
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 22.0477C0 23.2711 1.0558 24.2636 2.35714 24.2636H19.6429C20.9442 24.2636 22 23.2711 22 22.0477V9.4907H0V22.0477ZM15.7143 12.9993C15.7143 12.6946 15.9795 12.4453 16.3036 12.4453H18.2679C18.592 12.4453 18.8571 12.6946 18.8571 12.9993V14.8459C18.8571 15.1506 18.592 15.3999 18.2679 15.3999H16.3036C15.9795 15.3999 15.7143 15.1506 15.7143 14.8459V12.9993ZM15.7143 18.9084C15.7143 18.6037 15.9795 18.3544 16.3036 18.3544H18.2679C18.592 18.3544 18.8571 18.6037 18.8571 18.9084V20.755C18.8571 21.0597 18.592 21.309 18.2679 21.309H16.3036C15.9795 21.309 15.7143 21.0597 15.7143 20.755V18.9084ZM9.42857 12.9993C9.42857 12.6946 9.69375 12.4453 10.0179 12.4453H11.9821C12.3062 12.4453 12.5714 12.6946 12.5714 12.9993V14.8459C12.5714 15.1506 12.3062 15.3999 11.9821 15.3999H10.0179C9.69375 15.3999 9.42857 15.1506 9.42857 14.8459V12.9993ZM9.42857 18.9084C9.42857 18.6037 9.69375 18.3544 10.0179 18.3544H11.9821C12.3062 18.3544 12.5714 18.6037 12.5714 18.9084V20.755C12.5714 21.0597 12.3062 21.309 11.9821 21.309H10.0179C9.69375 21.309 9.42857 21.0597 9.42857 20.755V18.9084ZM3.14286 12.9993C3.14286 12.6946 3.40804 12.4453 3.73214 12.4453H5.69643C6.02054 12.4453 6.28571 12.6946 6.28571 12.9993V14.8459C6.28571 15.1506 6.02054 15.3999 5.69643 15.3999H3.73214C3.40804 15.3999 3.14286 15.1506 3.14286 14.8459V12.9993ZM3.14286 18.9084C3.14286 18.6037 3.40804 18.3544 3.73214 18.3544H5.69643C6.02054 18.3544 6.28571 18.6037 6.28571 18.9084V20.755C6.28571 21.0597 6.02054 21.309 5.69643 21.309H3.73214C3.40804 21.309 3.14286 21.0597 3.14286 20.755V18.9084ZM19.6429 3.58154H17.2857V1.3656C17.2857 0.959344 16.9321 0.626953 16.5 0.626953H14.9286C14.4964 0.626953 14.1429 0.959344 14.1429 1.3656V3.58154H7.85714V1.3656C7.85714 0.959344 7.50357 0.626953 7.07143 0.626953H5.5C5.06786 0.626953 4.71429 0.959344 4.71429 1.3656V3.58154H2.35714C1.0558 3.58154 0 4.57409 0 5.79747V8.01341H22V5.79747C22 4.57409 20.9442 3.58154 19.6429 3.58154Z" fill="white"/>
                    </svg>
                span.fxitem__right Записаться на прием
            a(href='#').fxitem
                span.fxitem__left.
                    <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.4296 16.546L15.0546 14.4835C14.8677 14.3959 14.6599 14.3774 14.4627 14.4309C14.2654 14.4844 14.0893 14.6069 13.9608 14.78L12.0233 17.3839C8.98248 15.8069 6.53535 13.115 5.10165 9.77017L7.46888 7.63888C7.62657 7.4978 7.73818 7.30405 7.78681 7.08696C7.83545 6.86987 7.81846 6.64125 7.73842 6.43573L5.86338 1.62315C5.77554 1.4016 5.62016 1.22071 5.42406 1.11168C5.22796 1.00265 5.00341 0.9723 4.78915 1.02587L0.726575 2.05714C0.519997 2.10961 0.335688 2.23756 0.203728 2.4201C0.0717689 2.60263 -4.75872e-05 2.82898 2.36575e-08 3.0622C2.36575e-08 14.0839 8.12123 23 18.1253 23C18.3374 23.0002 18.5433 22.9212 18.7093 22.7761C18.8753 22.6309 18.9917 22.4281 19.0394 22.2008L19.9769 17.732C20.0253 17.4951 19.9971 17.2472 19.8972 17.0307C19.7973 16.8142 19.632 16.6429 19.4296 16.546Z" fill="white"/>
                    <path d="M19 3.00005H26V7.00005H19V3.00005Z" fill="white"/>
                    <path d="M14 5.00005L19.25 0.669922V9.33018L14 5.00005Z" fill="white"/>
                    </svg>
                span.fxitem__right Заказать обратный звонок




            a(href='#').fxmobile.btn
                span.fa.fa-phone
                span +7 (391) 200-80-30
            a(href='#').fxmobile.btn Заказать звонок

        .mmenu
            a(href='#').mmenu__close.
                <svg height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/></svg>

            .mmenu__list
                each i in nav
                    a(href='/').mmenu__item= i
        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
