.links{

  &__title{
    color: #ea9e36;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    margin-right: 70px;
    margin-bottom: 30px;
    @include sm-block{
      font-size: 18px;
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      text-transform: none;
    }
  }

  &__item{
    @include col;
    @include size(6);
    min-height: 52px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px;
    @include size-sm(12);
    @include sm-block{
      min-height: 32px;
      font-size: 14px;
      text-transform: none;
    }
  }
}